@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.btn-readmore, .btn-primary, .btn-secondary {
  padding: 12px 24px;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.btn-readmore {
  color: #333;
  border: 1px solid gray;
  transition: all 250ms ease-in-out;
}

.btn-readmore:hover {
  background-color: #e1e1e1;
  transform: scale(1.1);
}

.btn-primary {
  background-color: #64b0f3;
  transition: all 250ms ease-in-out;
}

.btn-primary:hover {
  background-color: #3598ef;
  transform: scale(1.1);
}

.btn-secondary {
  transition: all 250ms ease-in-out;
  background-color: #e68e3b;
}

.btn-secondary:hover {
  background-color: #d3741b;
  transform: scale(1.1);
}

.card {
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 200ms ease;
}

.card-text {
  padding: 10px 20px;
}

.card-text p {
  font-size: 13px;
  margin: 10px 0;
}

.card:hover {
  transform: scale(1.01);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  gap: 30px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  background: url(images/stayhome.png) no-repeat center center/cover;
  padding-bottom: 30px;
  color: white;
  position: relative;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header .content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.header .content .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.header .content .navbar a {
  color: white;
  transition: all 200ms ease;
}

.header .content .navbar a:hover {
  color: #e68e3b;
  font-weight: bold;
}

.header .content .navbar .logo h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f1f1f1;
}

.header .content .navbar-links ul {
  display: flex;
  align-items: center;
}

.header .content .navbar-links ul li {
  margin-left: 20px;
}

.header .content .showcase {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 400px;
}

.header .content .showcase-text {
  font-size: 1.5rem;
}

.header .content .showcase-text p {
  margin: 20px 0;
}

.myceb {
  padding-top: 60px;
}

.myceb p {
  margin: 10px 0;
}

.myceb .usercontainer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.myceb .userdetails {
  margin: 40px;
  max-width: 300px;
}

.myceb .userdetails p {
  margin: 0;
}

.myceb .userdetails .grid {
  grid-template-columns: 40% 60%;
}

.myceb .card-item {
  margin-bottom: 60px;
}

.myceb .card-item .item {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.myceb .card-item .payment {
  background-color: #f2f8fe;
}

.myceb .card-item .payment p {
  color: #64b0f3;
}

.myceb .card-item .lastreading {
  background-color: #fdf6f0;
}

.myceb .card-item .lastreading p {
  color: #e68e3b;
}

.myceb h3 {
  margin: 20px 0;
  font-weight: 300;
  font-size: 15px;
  background-color: #daecfc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.myceb-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.myceb-form form input {
  padding: 10px;
}

.myceb-form form p {
  color: #e68e3b;
}

.myceb:last-child > p {
  color: #e68e3b;
}

.myceb:last-child > p a {
  color: #64b0f3;
}

.footer {
  margin-top: 100px;
}